html,
body {
  height: 100%;
}

body {
  padding: 45px 0;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

a {
  display: block;
}

.pyg_header {
  background-color: #f7f7f7;
  position: fixed;
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
  padding: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 45px;
}

footer a {
  color: #000;
  text-align: center;
  padding: 5px 0;
}

footer a div {
  font-size: 12px;
}

.loadding::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: .5;
  content: "";
  z-index: 100;
}

.loadding::after {
  font: normal normal normal 14px/1 FontAwesome;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -50px;
  font-size: 100px;
  color: #0094ff;
  content: "\f110";
  z-index: 101;
  -webkit-animation: fa-spin 1s infinite linear;
          animation: fa-spin 1s infinite linear;
}

.big-box {
  overflow: hidden;
}

.dateil-title {
  font-size: 20px;
  color: black;
  padding: 10px;
  height: 53px;
}

.dateil-price {
  font-size: 30px;
  color: orange;
  padding: 10px;
}

.box {
  padding: 0 10px;
}

.box div {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.box div .left {
  color: #999;
  font-size: 12px;
}

.box div .right {
  padding-left: 50px;
  font-size: 14px;
}

.mui-table-view {
  margin: 0 13px;
}

.mui-table-view li {
  background-color: #efeff4;
}

.mui-table-view li .goods-title {
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.mui-table-view li .goods-concent {
  padding-top: 15px;
}

.mui-table-view li .goods-concent .goods-designation {
  font-size: 16px;
  color: #ccc;
}

.mui-table-view li .goods-concent .goods-parameter {
  padding-left: 40px;
  color: #666;
  font-size: 14px;
}

.dateil_foot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  font-size: 12px;
  height: 50px;
  text-align: center;
}

.dateil_foot .chat {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dateil_foot .chat span {
  width: 25%;
  width: 100%;
  color: #666;
}

.dateil_foot .chat span:nth-child(2) {
  font-size: 15px;
}

.dateil_foot .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 25%;
  border-left: 1px solid #ccc;
}

.dateil_foot .cart span {
  width: 100%;
  color: #666;
}

.dateil_foot .cart span:nth-child(2) {
  font-size: 15px;
}

.dateil_foot .buy {
  width: 25%;
  font-size: 16px;
  color: #fff;
  line-height: 50px;
  background-color: #ffaa00;
  border-left: 1px solid #ccc;
}

.dateil_foot .add {
  font-size: 16px;
  color: #fff;
  line-height: 50px;
  width: 25%;
  background-color: #ff6600;
  border-left: 1px solid #ccc;
}
/*# sourceMappingURL=good-dateil.css.map */