<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../lib/mui/css/mui.min.css">
    <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="../css/good-dateil.css">

</head>

<body>
    <!-- 顶部 -->
    <header id="header" class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">商品详情</h1>
    </header>

    <!-- 轮播图 -->
    <div class="pyg-gallery">
        <div class="mui-slider">
        </div>
    </div>
    <!-- 文字描述 -->
    <div class="dateil-title mui-ellipsis-2">卡奇莱德(katald)车载空气净化器除甲醛汽车内用负离子氧吧PM2.5除味器消除异味过滤灰尘灰色</div>
    <div class="dateil-price">￥2700</div>
    <div class="box">
        <div>
            <span class="left">已选</span>
            <span class="right">白色</span>
        </div>
        <div>
            <span>促销</span>
            <span>是</span>
        </div>
        <div>
            <span>送至</span>
            <span>上海市</span>
        </div>
        <div>
            <span>运费</span>
            <span>免运费</span>
        </div>
    </div>
</body>

</html>
<script src="../lib/mui/js/mui.min.js"></script>
<script src="../lib/zepto/zepto.js"></script>
<script src="../lib/arttemplate/template-web.js"></script>
<SCript src="../lib/iscroll/iscroll.js"></SCript>
<script src="../js/commer.js"></script>
<script src="../js/good-dateil.js"></script>


<script type="text/template" id="galleryTlp">

    <div class="mui-slider-group mui-slider-loop">
        <!--支持循环，需要重复图片节点-->

        <div class="mui-slider-item mui-slider-item-duplicate">
            <a href="#"><img src="{{data[data.length-1].pics_sma_url}}" /></a>
        </div>
        {{each data val}}
        <div class="mui-slider-item">
            <a href="#"><img src="{{val.pics_sma_url}}" /></a>
        </div>
        {{/each}}
        <!--支持循环，需要重复图片节点-->
        <div class="mui-slider-item mui-slider-item-duplicate">
            <a href="#"><img src="{{data[0].pics_sma_url}}" /></a>
        </div>

    </div>

    <div class="mui-slider-indicator">
        {{each data val index}} {{if index==0}}
        <div class="mui-indicator mui-active"></div>
        {{/if}} {{if index!=0}}
        <div class="mui-indicator"></div>
        {{/if}} {{/each}}
    </div>
</script>